
                <div class="block-detail search">
                    <form action="{{ url('dons') }}" method="post">
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-search icon-white"></i>
                        Rechercher
                    </button>
                    </form>
                </div>