{% extends "Index.html.twig" %}

            {% block content %}
                <div class="">
                    <a href="{{ url('dons') }}" class="btn btn-large">
                        Liste des dons
                    </a>
                    <a href="{{ url('task') }}" class="btn btn-large">
                        Lancement des tâches
                    </a>
                </div>
            {% endblock %}