config/runtime-conf.xml
config/Gesdon-conf.php
config/classmap-Gesdon-conf.php
config/config.php
data/recurrents.csv
data/paypal.csv
data/cheques.csv
data/evl.csv
data/virements.csv
data/img_pdf/signature.jpg
data/pdf/*
data/*.sql
lib/model/classes/Gesdon/Database/map
lib/model/classes/Gesdon/Database/om
log/*
vendor/*
composer.lock
Gesdon.komodoproject
gesdon.komodoproject
gesdon.sublime-project
gesdon.sublime-workspace
.idea
