{% extends "Task.html.twig" %}

{% block title %}Gesdon &bull; Lancer les tâches{% endblock %}

            {% block content %}

                <div class="page-header">
                    <h1>Lancer les tâches</h1>
                </div>

                {% if tasks|length > 0 %}
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nom de la tâche</th>
                                    <th>Arguments</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                <tr>
                                    <td>{{ task.taskName }}</td>
                                    <td>{{ task.getParamToString }}</td>
                                    <td>
                                        <form action="{{ url('task_launch') }}" method="post" class="delete-task">
                                            <input type="hidden" name="id" value="{{ task.id }}" />
                                            <input type="submit" value="Supprimer la tâche" class="btn btn-danger{% if task.group %} task-grouped{% endif %}" />
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Suppression d'une tâche</h4>
                            </div>
                            <div class="modal-body">
                                Souhaitez-vous vraiment supprimer la tâche ?
                                <div class="modal-alert"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-danger">Supprimer</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                {% else %}
                <div class="alert alert-info">
                    Aucune tâche en attente.
                </div>
                {% endif %}
            {% endblock %}