{% extends "Task.html.twig" %}

{% block title %}Gesdon &bull; Import EVL{% endblock %}

            {% block content %}

                <div class="page-header">
                    <h1>Importer les données d'EnVenteLibre</h1>
                </div>
                <div class="alert alert-info">
                    <i class="glyphicon glyphicon-bullhorn"></i>
                    Le fichier doit être issu de l'export CSV d'EnVenteLibre :<br />
                    nom,prénom,rue,code postal,ville,email,montant,date(dd/mm/YYYY)
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Sélectionnez un fichier CSV à importer pour EnVenteLibre
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form action="{{ url('task_evl') }}" method="post" role="form" {{ form_enctype(form) }}>
                            <div class="form-group">
                                <label for="form_file">Fichier CSV</label>
                                {{ form_widget(form.file, {class: "form-control"}) }}
                            </div>
                            <div class="form-group">
                                <button type="submit" name="import" class="btn btn-success">
                                    <i class="glyphicon glyphicon-import"></i>
                                    Importer
                                </button>
                            </div>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                </div>
            {% endblock %}